.racer_table {
  border: 1px solid #000;
  /*height: 80px;
  width: 400px;*/
}

.racer_table td {
  border: 1px solid #000;
  margin: 0;
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

#status {
  display: none;
}