html{
  background: url("http://image.shutterstock.com/display_pic_with_logo/358855/358855,1241481160,5/stock-vector-a-birdseye-view-of-a-town-29674375.jpg");
}
h1,h2{
  background-color: #fff;
  color: #000;
  font-size: 2.5em;
  width: auto;
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

button {
  background-color: #fff;
  color: #000;
  width: auto;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.table, td{
  background-color: white;
  border: 2.5px solid black;
  height: 70px;
  width: 700px;
}

.racer_table{
  margin-top: 100px;
}

.active{
  background-color: red;
}

#status{
  background-color: white;
  color: black;
  font-size: 2.5em;
  width:  700px;
  text-align: center;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}